<h1>Friends Index</h1>
<h2>Total Friends: {{model.length}}</h2>
<ul>
  {{#each friend in model}}
    <li>
      {{#link-to 'friends.show' friend}}
        {{friend.firstName}} {{friend.lastName}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
